<div class="row">
     <div class="col-12">
         <div class="bg-light rounded-3 p-5 mb-4">
             <div class="row">
                 <div class="col-md-8">
                     <h1 class="font-roboto display-5 fw-bold">@Html.Raw(ViewBag.Best.Name)</h1>
                     <div class="font-montserrat mb-3 truncate">@Html.Raw(ViewBag.Best.Description)</div>
                     <div class="font-montserrat mb-3 truncate">@Html.Raw(ViewBag.Best.Price)</div>
                 </div>
                 <div class="col-md-4">
                    <a href="/Products/Show/@ViewBag.Best.ProductID">
                        @if (ViewBag.Best.Image != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(ViewBag.Best.Image)" class="img-fluid align-items-center justify-content-center front_img img-link" style="border-radius: 5px">
                             }
                        else
                        {
                            <img src=@ViewBag.Path class="img-fluid align-items-center justify-content-center front_img img-link" style="border-radius: 5px" />
                        }
                    </a>
                 </div>
             </div>
         </div>
     </div>
</div>



<div class="row mb-4">
     @foreach (var product in ViewBag.SecondThirdbest)
     {
        <div class="col-6 row-style">
             <div class="card">
                 <div class="card-title p-3 text-center bg-dark text-white ">
                    <h4>@Html.Raw(product.Name)</h4>
                 </div>
                 <div class="card-body" style="height:180px">
                     <div class="font-montserrat mb-3 truncate">@Html.Raw(product.Description)</div>
                     <div class="font-montserrat mb-3 truncate">@Html.Raw(product.Price)</div>
                 </div>
                 <div class="card-footer">
                    <a class="btn btn-outline-success" href="/Products/Show/@product.ProductID">Vezi Articolul</a>
                 </div>
             </div>
         </div>
     }
</div>
