@using Microsoft.AspNetCore.Identity
@using System.Linq
@model StoreProject.Models.ApplicationUser
@inject UserManager<ApplicationUser> UserManager

<h3>@Model.Email</h3>

<form method="post" action="/Users/Edit/@Model.Id">
    <label>Email</label>
    <input type="text" name="Email" value="@Model.Email"/>
    <br />
    
    <label>Numar de telefon</label>
    <input type="tel" name="PhoneNumber" value="@Model.PhoneNumber"/>
    <br />
    <br />

    <button type="submit">Confirma datele</button>
</form>
<br />
@if(User.IsInRole("Admin"))
{
    <form method="post" action="/Users/ChangeRole">
        <label>Adauga rol</label>
        <select name="role">
            @foreach (var role in ViewBag.Roles)
            {
                @if(role.Name == ViewBag.UserRoles[0])
                {
                    <option value="@role.Name" selected>@role.Name</option>
                }
                else
                {
                    <option value="@role.Name">@role.Name</option>
                }
            }
        </select>
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Adauga rol</button>
    </form>
    <br />
}
<form method="post" action="/Users/Delete/@Model.Id">
    <button type="submit">Sterge contul</button>    
</form>