@using StoreProject.Models
@model Product

<h2>Adaugare produs</h2>

<br/>

<form method="post" action="/Products/Add" class="d-flex flex-column" style="width:70%; gap:5px">
    <label>Nume produs</label>
    <input type="text" name="Name" value="@Model.Name"/>
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger"})
    
    <label>Descriere</label>
    @Html.TextAreaFor(m => m.Description, new { @class = "summernote" })
    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger"})
    <div>
        <label>Pret</label>
        <input type="number" name="Price" />
    </div>
    @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger"})
    <label>Stoc</label>
    <input type="number" name="Stock" value="0"/>
    @Html.ValidationMessageFor(m => m.Stock, null, new { @class = "text-danger"})
    <div>
        <label>Categorie</label>
        <select name="CategoryID">
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.CategoryID">@category.Name</option>
            }
        </select>
    </div>
    

    <button class="btn btn-success" style="width:fit-content;margin-top: 50px;padding:5px" type="submit">Adauga produs</button>
</form>