@using Microsoft.AspNetCore.Identity
@model StoreProject.Models.Product
@inject UserManager<ApplicationUser> UserManager

<h3>Editeaza produs @Model.Name</h3>



<form method="post" action="/Products/Edit/@Model.ProductID" class="d-flex flex-column" style="gap:2rem">

    <div style="display:flex; flex-direction:row">
        <label class="col-sm-2 col-form-label">Nume produs</label>
        <input type="text" name="Name" value="@Model.Name" class="col-sm-10" />
    </div>
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger"})

    <div style="display:flex; flex-direction:column; gap:2rem">
        <div style="display:flex; flex-direction:row">
            <label class="col-sm-2 col-form-label" style=" margin-right:2px">Pret</label>
            <input type="number" name="Price" value="@Model.Price" class="col-sm-10" style="width:5rem" />
        </div>
        @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger"})

        <div style="display:flex; flex-direction:row">
            <label class="col-sm-2 col-form-label" style=" margin-right:2px">Stoc</label>
            <input type="number" name="Stock" value="@Model.Stock" class="col-sm-10" style="width:5rem" />
        </div>
        @Html.ValidationMessageFor(m => m.Stock, null, new { @class = "text-danger"})

        <div style="display:flex; flex-direction:row">
            <label style="margin-right:7.5rem">Categorie</label>
            <select name="CategoryID">
                @foreach (var category in ViewBag.Categories)
                {
                    @if (Model.CategoryID == category.CategoryID)
                    {
                        <option value="@category.CategoryID" selected="selected">@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.CategoryID">@category.Name</option>
                    }
                }
            </select>
        </div>
    </div>



    <h5>Descriere</h5>
    @Html.TextAreaFor(m => m.Description, new { @class = "summernote" })
    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger"})


    <button class="btn btn-success" style="width:fit-content;margin-top: 20px;margin-bottom: 20px; padding:5px" type="submit">Salveaza schimbarile</button>
</form>

<form method="post" enctype="multipart/form-data" asp-controller="Products" asp-action="ChangeImage">

    <h4 style="padding:2px;margin-top:20px;margin-bottom:20px">Ataseaza imagine</h4>
    <input type="file" name="image" />
    <input type="text" hidden name="productID" value="@Model.ProductID" />

    <input  type="submit" value="Trimite" />

</form>