@using Microsoft.AspNetCore.Identity
@model StoreProject.Models.Product
@inject UserManager<ApplicationUser> UserManager


<form method="GET" class="d-flex">
    <button class="btn btn-outline-success" type="submit">Search</button>
    <input type="text" class="form-control" placeholder="Cauta produs" name="search" value="@ViewBag.SearchString">
    
</form>
<br />
<h3 class="text-lg-center">Produse</h3>
<br />
<div class="d-flex flex-wrap justify-content-center">
    @foreach (var product in ViewBag.Products)
    {

        <div class="card" style="width: 18rem; margin: 2px; padding:3px">
            <a href="/Products/Show/@product.ProductID"> <img src=@("/images/"+product.Category.Name+".jpg") class="card-img-top img-link" alt="coming_soon_img" style="border-radius: 5px"></a>

            <div class="card-body">

                <h5 class="card-title titlu-lung">@product.Name</h5>
                <p>@product.Price</p>
            
            </div>
           
        </div>
        <br />
               
    }
</div>
<br />

@*AFISARE PAGINATA*@

<br />
<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                </li>
            }

            <li class="page-item">
                <a class="page-link" href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

@if(User.IsInRole("Admin") || User.IsInRole("Colaborator"))
{
    <div class="d-flex flex-column justify-content-center">
        <a class="btn btn-primary" href="/Products/Add" style="width: 10rem">Adauga produs</a>
    </div>
}