@using Microsoft.AspNetCore.Identity
@model StoreProject.Models.Product
@inject UserManager<ApplicationUser> UserManager

<div class="d-flex flex-row">
    <div>
        @if(Model.Image != null)
        {
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)"  class="img-fluid rounded-start" alt="coming_soon_img" style="height:100%" />
        }
        else
        {
            <img src=@("/images/"+Model.Category.Name+".jpg") class="img-fluid rounded-start" alt="coming_soon_img" style="height:100%">
        }
    </div>
    <div class="d-flex flex-column justify-content-around border border-1" style="width:170%">

        <h3 style="padding:10px">@Model.Name</h3>

        @if (Model.Rating == 0)
        {
            <p style="padding:10px; background-color:rgb(223, 237, 235); font-family:'Gill Sans', 'Gill Sans MT' , Calibri, 'Trebuchet MS' , sans-serif; font-weight: bold">Acest produs nu are recenzii</p>
        }
        else
        {
            <p style="padding:10px; background-color:rgb(223, 237, 235); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold">Rating produs: @Model.Rating / 5 ⭐</p>
        }

        <dl class="row" style="padding:10px">
            <dt class="col-sm-3">Descriere</dt>
            <dd class="col-sm-9">@Model.Description</dd>

            <dt class="col-sm-3">Pret</dt>
            <dd class="col-sm-9">@Model.Price</dd>

            <dt class="col-sm-3">Categorie</dt>
            <dd class="col-sm-9">@Model.Category.Name</dd>

            <dt class="col-sm-3">In stoc</dt>
            <dd class="col-sm-9">
                @if(Model.Stock > 0)
                {
                    <span><span style="color:green;">Da </span>(@Model.Stock buc)</span>
                }
                else
                {
                    <span style="color:red;">Nu</span>
                }
            </dd>
        </dl>
        <div class="d-flex flex-row justify-content-sm-end" style="padding:10px; gap:2px">
            @if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Colaborator"))
            {
                <form method="post" action="/Products/AddToCart/@Model.ProductID">
                    <button class="btn btn-primary" type="submit">Adauga in cos</button>
                </form>
            }
            @if (User.IsInRole("Admin") || (User.IsInRole("Colaborator") && UserManager.GetUserId(User) == Model.UserID))
            {

                <form method="post" action="/Products/Delete/@Model.ProductID">
                    <button class="btn btn-danger" type="submit">Sterge produs</button>
                </form>
                <a class="btn btn-primary" href="/Products/Edit/@Model.ProductID"><i class="bi bi-pencil-square"></i>Editeaza</a>

            }
        </div>
    </div>
</div>
<br />



@if(Model.Rating != 0)
{
    <div class="d-flex flex-column border border-1" style="background-color:rgb(223, 237, 235);padding: 10px; margin-bottom: 30px; margin-top: 30px">
        <h1>Recenzii</h1>
        @foreach (var review in Model.Reviews)
        {
            <div class="border border-1" style="background-color:aliceblue;margin: 5px; padding: 20px">
                <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold"><span style="text-decoration: underline; text-transform: uppercase">@review.Title</span> (@review.Rating / 5 ⭐)</p>
                <p>@review.Content</p>
                @if (User.IsInRole("Admin") || UserManager.GetUserId(User) == review.UserID)
                {
                    <form method="post" action="/Reviews/Delete/@review.ReviewID">
                        <button tyoe="submit" class="btn btn-danger">Sterge recenzie</button>
                    </form>
                }
            </div>
        }
    </div>
    
}
   
@if (User.IsInRole("User") || User.IsInRole("Admin") || User.IsInRole("Colaborator"))
{

    @if (Model.Rating == 0)
    {
        <div class="d-flex flex-column" style="width: 60%">
            <h3>Fii primul care lasa o recenzie</h3>
            <form method="post" action="/Reviews/Add/@Model.ProductID" class="d-flex flex-column gap-2" style="width: inherit">

                <div>
                    <label>Nota</label>
                    <input type="number" name="Rating" min="1" max="5" value="5" />
                </div>

                <input type="text" name="Title" placeholder="Dati un titlu sugestiv recenziei" />

                <textarea name="Content" placeholder="Text" rows="3"></textarea>

                <button type="submit">Adauga recenzie</button>
            </form>
        </div>

    }
    else
    {
        <div class="d-flex flex-column" style="width: 60%">
            <h3>Lasa o recenzie</h3>
            <form method="post" action="/Reviews/Add/@Model.ProductID" class="d-flex flex-column gap-2" style="width: inherit">
                <div>
                    <label>Nota</label>
                    <input type="number" name="Rating" min="1" max="5" value="5" />
                </div>


                <input type="text" name="Title" placeholder="Dati un titlu sugestiv recenziei" />

                <textarea name="Content" placeholder="Text" rows="3"></textarea>

                <button type="submit">Adauga recenzie</button>
            </form>
        </div>
    }
}else{
    <h4>Pentru a lasa o recenzie trebuie sa va logati mai intai</h4>
}
